.search__form {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0 !important;

    input, button {
        margin-bottom: 0 !important;
    }

    input {
        width: 30vw !important;
    }

    button {
        all: unset;
        position: absolute;
        right: 15px;
        font-size: 18px;
        background-color: $darkgray;
        text-align: center;
        cursor: pointer;
        i {
            display: contents;
        }
    }
}

.search__message {
    margin: 25px auto;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    
    b {
        font-weight: 800;
    }
}