.logo {
    color: $darkgray;
    font-weight: 100;
    -webkit-text-stroke: thick;
    -webkit-text-emphasis: dot;
}

.large_logo {
    margin: 40px 0;
    font-size: 40px;
    text-align: center;
}

.header__logo {
    margin-top: -11px !important;
    font-size: 25px;
    margin-right: 10px;
}