header
    a(href="/").logo.header__logo
        i Vlogram
    form(method="GET" action="/search").search__form
        input(name="keyword", placeholder="Search by title", type="text")
        button
            i.fas.fa-search
    nav
        ul
            li
            if loggedIn
                li
                    a(href="/videos/upload")
                        i.fas.fa-plus(title="Upload")
                li
                    a(href="/users/edit")
                        i.fas.fa-cog(title="Edit Profile")
                li
                    div.__avatar(title="Profile")
                        a(href=`/users/${loggedInUser._id}`)
                            if !loggedInUser.avatarUrl
                                i.fas.fa-user-circle
                            else 
                                if loggedInUser.avatarUrl.substr(0, 4) === "http"
                                    
                                else 
                                    img.avatar(src = "/" + loggedInUser.avatarUrl)
                li
                    a(href="/users/logout")
                        i.fas.fa-sign-out-alt(title="Logout")
            else 
                li
                    a(href="/login").header__btn  Login
                li
                    a(href="/join")  Join