header
    a(href="/") HOME
    nav
        ul
            li
                a(href="/") SEARCH
            li
                a(href="/") HOME
            li
                a(href="/") FEED
            li
                a(href="/") MY FEED
            li
                a(href="/") LOGIN
            li
                a(href="/") JOIN