extends ../base

block content
    form(method="POST", enctype="multipart/form-data").section.user_section.edit-profile__form
        div.profile__data
            if !loggedInUser.avatarUrl
                i.fas.fa-user-circle
            else 
                if loggedInUser.socialOnly && loggedInUser.avatarUrl.substr(0, 4) === "http"
                    img.avatar(src = loggedInUser.avatarUrl)
                else 
                    img.avatar(src = "/" + loggedInUser.avatarUrl)
        label(for="avatar") Image Url
        input(name="avatar", id="avatar", type="file", accept="image/*")
        input(name="id", placeholder="User ID", type="text", required, value=loggedInUser.id)
        input(name="name", placeholder="Name", type="text", required, value=loggedInUser.name)
        input(name="email", placeholder="Email", type="email", required, value=loggedInUser.email)
        input(name="location", placeholder="Location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Upload Profile")

    if !loggedInUser.socialOnly                
        div.section.user_section.edit-profile__password
            span Do you want to chage your password?
            br
            a(href="change-password") Change Password &rarr;