extends ../base

block content
    form(method="POST").section.user_section
        include ../partials/logo
        input(name="id", placeholder="User ID", type="text", required)
        input(name="password", placeholder="Password", type="password", required)
        input(type="submit", value="Login")

        include ../partials/social-login
    div.section.user_section.auth-switch
        span Don't have an account? 
        a(href="/join") Create one now  &rarr;